<footer class="footer-section footer" style="background-image: url(images/backgrounds/footer-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
                <!-- logo -->
                <a href="/">
                    <img class="img-fluid" src="images/logo-footer.png" alt="logo">
                </a>
            </div>
            <!-- footer menu -->
            <nav class="col-lg-8 align-self-center mb-5">
                <ul class="list-inline text-lg-right text-center footer-menu">
                    <li class="list-inline-item active"><a href="/">Home</a></li>
                    <li class="list-inline-item"><a href="/about">About Us</a></li>
                    <li class="list-inline-item"><a href="/portfolio">Portfolio</a></li>
                    <li class="list-inline-item"><a href="/contact-us">Contact</a></li>
                </ul>
            </nav>
            <!-- footer social icon -->
            <nav class="col-12">
                <ul class="list-inline text-lg-right text-center social-icon">
                    <li class="list-inline-item">
                        <a class="facebook" href="https://www.facebook.com/profile.php?id=61560007838164"><i
                                class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="twitter" href="https://github.com/karuhun-developer"><i
                                class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="instagram" href="https://www.instagram.com/karuhundeveloper"><i
                                class="ti-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="black" href="https://github.com/karuhun-developer"><i
                                class="ti-github"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>